.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 64px;
  
}

.logoBox {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 8px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;  
  color: #121417;
}

.navBox {
  display: flex;
  align-items: center;
  gap: 28px;
  padding-top: 4px;
}

.linkStyle {
  text-decoration: none;  
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #121417;
}

.linkStyle:hover, .linkStyle:focus {
  font-weight: 700;
}

.authBox {
  display: flex;
}

.logInBtn {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 16px;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  color: #121417;
  cursor: pointer;
}

.registerBtn {
  padding: 14px 39px;
  border-radius: 12px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700; 
  background-color: #121417;
  color: #FFFFFF;
  cursor: pointer; 
}
